@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #111827;
  background-color: #f3f4f6;
  font-family: Lato, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

body {
  @apply bg-gray-100 text-gray-900;
}

#root {
  min-height: 100vh;
}
